/*  Basic resets for modern browsers */
* { margin:0; padding:0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
/*  Basic resets for modern browsers */

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Arian AMU', 'Raleway', sans-serif;
  text-decoration:none;
}

@media (max-width: 600px) {
  header {
    font-size:medium;
  }
}

@media (min-width: 601px) {
  header {
    font-size:large;
  }
}

.modal-inputs > * { margin-bottom: 0.3rem; }

ul {
  list-style: none;
  display:inline-flex;
}

li { padding-left:1em; }
