/*  Basic resets for modern browsers */
* { margin:0; padding:0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
/*  Basic resets for modern browsers */

a { text-decoration:none; }

a:hover {
  transition: color 1.0s ease-out;
  color:#98c5ed !important;
}
